//for allthe body
body {
  opacity: 0;
  transition: opacity 1s;
}

//scroll smooth
* {
  scroll-behavior: smooth;
}

//header
header {
  z-index: 1;
  position: fixed;
  width: 100%;
  .login-button {
    cursor: pointer;
  }
}
//main sec

#main-sec {
  margin-top: 0;
  padding-top: 7em;
  h3 {
    color: bisque;
  }
}

//service section

#service-sec {
  background-color: darkgray;
}

//login page

.login-body,
.login-html {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/4173624/pexels-photo-4173624.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  height: 100%;
}

#profile-img {
  height: 180px;
}
.h-80 {
  height: 80% !important;
}
